main{
  width: 90vw;
  margin: 0 auto;
}

h1{
  padding: 2rem 1rem 1rem;
  font-size: 1.2rem;
  color: $darkGold;
  font-weight: 100;
  text-transform: uppercase;
}

#settingsForm{
  color: $darkGrey;
  //width: 80vw;

  fieldset{
    padding:0 0.4rem 2rem;
    box-shadow: 0 0 15px 2px #f2f2f2;
  }

  legend{
    width: 100%;
    box-sizing:border-box;
    padding: 3rem 1rem 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid $darkGrey;
  }

  div{
    padding-top: 0.1rem;
    display: flex;
  }

  label{
    font-size: 0.9rem;
    width: 40%;
    padding: 0.3rem 0;
  }

  input{
    border: 0;
    width: 60%;
  }

  a:link, a:visited{
    text-decoration: none;
    color: $blue;
    font-size: 0.6rem;
    font-weight: 100;
  }

  #groupID,#groupLink {
    background-color: #dddddd;
  }
}

table {
  margin: 2rem auto;
  width: 100%;
  color: $darkGrey;
  box-shadow: 0 0 15px 2px #f2f2f2;
  border-collapse: separate;
  vertical-align: bottom;

  td:first-of-type{
    display: none;

    @include breakpoint(smallTablet)
      {
        display: table-cell;
        border-right: 1px solid $darkGrey;
      }
  }


  td:nth-of-type(n+3){
    display: flex;
  }

  th:first-child{
    display: none;

    @include breakpoint(smallTablet)
      {display: block;}
  }

  th{
    border-bottom: 1px solid $darkGrey;
    box-sizing: border-box;
    padding: 0.3rem
  }

  td{
    padding-left: 0.3rem;
    font-size: 0.8rem;
  }

  th:nth-of-type(1),th:nth-of-type(2),td:nth-of-type(1),td:nth-of-type(2){
    border-right: 1px solid $darkGrey;
  }

  tr:nth-of-type(n+2){
    background-color: $gold;
  }

  a:link, a:visited{
    width: 50%;
    text-align: center;
  }

  img {
    display: inline;
    width: 3vh;
    margin: 0 auto;
    //clear: both;
    padding: 0.2rem 0.5rem;
  }
}
